<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>CFBundleDevelopmentRegion</key>
<string>English</string>
<key>CFBundleExecutable</key>
<string>AJZaurusUSB</string>
<key>CFBundleGetInfoString</key>
<string>AJZaurusUSB version 0.5.4, Copyright 2002-2004 Andreas Junghans &amp; 2005-2009 Nikolaus Schaller, based on USBCDCEthernet, Copyright 1998-2002 Apple</string>
<key>CFBundleIconFile</key>
<string></string>
<key>CFBundleIdentifier</key>
<string>net.lucid-cake.driver.AJZaurusUSB</string>
<key>CFBundleInfoDictionaryVersion</key>
<string>6.0</string>
<key>CFBundleName</key>
<string>AJZaurusUSB</string>
<key>CFBundlePackageType</key>
<string>KEXT</string>
<key>CFBundleShortVersionString</key>
<string>0.5.4</string>
<key>CFBundleSignature</key>
<string>????</string>
<key>CFBundleVersion</key>
<string>0.5.4</string>
<key>IOKitPersonalities</key>
<dict>
<key>E28 E2831</key>
<dict>
<key>CFBundleIdentifier</key>
<string>net.lucid-cake.driver.AJZaurusUSB</string>
<key>DefaultIP</key>
<string>169.254.0.2</string>
<key>IOClass</key>
<string>net_lucid_cake_driver_AJZaurusUSB</string>
<key>IOProbeScore</key>
<string>90000</string>
<key>IOProviderClass</key>
<string>IOUSBDevice</string>
<key>idProduct</key>
<integer>61441</integer>
<key>idVendor</key>
<integer>4793</integer>
</dict>
<key>Acer n30 Windows Mobile</key>
<dict>
<key>CFBundleIdentifier</key>
<string>net.lucid-cake.driver.AJZaurusUSB</string>
<key>IOClass</key>
<string>net_lucid_cake_driver_AJZaurusUSB</string>
<key>IOProbeScore</key>
<string>90000</string>
<key>IOProviderClass</key>
<string>IOUSBDevice</string>
<key>OverrideMAC</key>
<true/>
<key>idProduct</key>
<integer>5859</integer>
<key>idVendor</key>
<integer>1282</integer>
</dict>
<key>Letux n30/Letux 380/iPAQ H3900</key>
<dict>
<key>CFBundleIdentifier</key>
<string>net.lucid-cake.driver.AJZaurusUSB</string>
<key>DefaultIP</key>
<string>192.168.131.201,192.168.25.1</string>
<key>IOClass</key>
<string>net_lucid_cake_driver_AJZaurusUSB</string>
<key>IOProbeScore</key>
<string>90000</string>
<key>IOProviderClass</key>
<string>IOUSBDevice</string>
<key>idProduct</key>
<integer>42146</integer>
<key>idVendor</key>
<integer>1317</integer>
</dict>
<key>Motorola A1200 Ming</key>
<dict>
<key>CFBundleIdentifier</key>
<string>net.lucid-cake.driver.AJZaurusUSB</string>
<key>DefaultIP</key>
<string>192.168.131.201</string>
<key>IOClass</key>
<string>net_lucid_cake_driver_AJZaurusUSB</string>
<key>IOProbeScore</key>
<string>90000</string>
<key>IOProviderClass</key>
<string>IOUSBDevice</string>
<key>idProduct</key>
<integer>24717</integer>
<key>idVendor</key>
<integer>8888</integer>
</dict>
<key>Motorola A780/E680</key>
<dict>
<key>CFBundleIdentifier</key>
<string>net.lucid-cake.driver.AJZaurusUSB</string>
<key>DefaultIP</key>
<string>192.168.131.201</string>
<key>IOClass</key>
<string>net_lucid_cake_driver_AJZaurusUSB</string>
<key>IOProbeScore</key>
<string>90000</string>
<key>IOProviderClass</key>
<string>IOUSBDevice</string>
<key>idProduct</key>
<integer>24588</integer>
<key>idVendor</key>
<integer>8888</integer>
</dict>
<key>Motorola Ming</key>
<dict>
<key>CFBundleIdentifier</key>
<string>net.lucid-cake.driver.AJZaurusUSB</string>
<key>DefaultIP</key>
<string>192.168.131.201</string>
<key>IOClass</key>
<string>net_lucid_cake_driver_AJZaurusUSB</string>
<key>IOProbeScore</key>
<string>90000</string>
<key>IOProviderClass</key>
<string>IOUSBDevice</string>
<key>idProduct</key>
<integer>24615</integer>
<key>idVendor</key>
<integer>8888</integer>
</dict>
<key>Nokia N770</key>
<dict>
<key>CFBundleIdentifier</key>
<string>net.lucid-cake.driver.AJZaurusUSB</string>
<key>DefaultIP</key>
<string>unknown</string>
<key>IOClass</key>
<string>net_lucid_cake_driver_AJZaurusUSB</string>
<key>IOProbeScore</key>
<string>90000</string>
<key>IOProviderClass</key>
<string>IOUSBDevice</string>
<key>Note</key>
<string>the n770 has no CDC Ethernet!</string>
<key>idProduct</key>
<integer>1073</integer>
<key>idVendor</key>
<integer>1057</integer>
</dict>
<key>OpenMoko</key>
<dict>
<key>CFBundleIdentifier</key>
<string>net.lucid-cake.driver.AJZaurusUSB</string>
<key>DefaultIP</key>
<string>192.168.0.202</string>
<key>IOClass</key>
<string>net_lucid_cake_driver_AJZaurusUSB</string>
<key>IOProbeScore</key>
<string>90000</string>
<key>IOProviderClass</key>
<string>IOUSBDevice</string>
<key>OverrideMAC</key>
<true/>
<key>idProduct</key>
<integer>20770</integer>
<key>idVendor</key>
<integer>5207</integer>
</dict>
<key>GTA01 DFU</key>
<dict>
<key>CFBundleIdentifier</key>
<string>net.lucid-cake.driver.AJZaurusUSB</string>
<key>DefaultIP</key>
<string>192.168.0.202</string>
<key>IOClass</key>
<string>net_lucid_cake_driver_AJZaurusUSB_DFU</string>
<key>IOProbeScore</key>
<string>90000</string>
<key>IOProviderClass</key>
<string>IOUSBDevice</string>
<key>Note</key>
<string>This entry protects the OpenMoko in DFU mode against being attacked by Apple CDC drivers</string>
<key>idProduct</key>
<integer>20761</integer>
<key>idVendor</key>
<integer>5207</integer>
</dict>
<key>GTA02 DFU</key>
<dict>
<key>CFBundleIdentifier</key>
<string>net.lucid-cake.driver.AJZaurusUSB</string>
<key>DefaultIP</key>
<string>192.168.0.202</string>
<key>IOClass</key>
<string>net_lucid_cake_driver_AJZaurusUSB_DFU</string>
<key>IOProbeScore</key>
<string>90000</string>
<key>IOProviderClass</key>
<string>IOUSBDevice</string>
<key>Note</key>
<string>This entry protects the OpenMoko in DFU mode against being attacked by Apple CDC drivers</string>
<key>idProduct</key>
<integer>20761</integer>
<key>idVendor</key>
<integer>3408</integer>
</dict>
<key>Beagle Board</key>
<dict>
<key>CFBundleIdentifier</key>
<string>net.lucid-cake.driver.AJZaurusUSB</string>
<key>DefaultIP</key>
<string>192.168.0.202</string>
<key>IOClass</key>
<string>net_lucid_cake_driver_AJZaurusUSB</string>
<key>IOProbeScore</key>
<string>90000</string>
<key>IOProviderClass</key>
<string>IOUSBDevice</string>
<key>idProduct</key>
<integer>42154</integer>
<key>idVendor</key>
<integer>1317</integer>
</dict>
<key>YOPY YP3000</key>
<dict>
<key>CFBundleIdentifier</key>
<string>net.lucid-cake.driver.AJZaurusUSB</string>
<key>IOClass</key>
<string>net_lucid_cake_driver_AJZaurusUSB</string>
<key>IOProbeScore</key>
<string>90000</string>
<key>IOProviderClass</key>
<string>IOUSBDevice</string>
<key>idProduct</key>
<integer>4097</integer>
<key>idVendor</key>
<integer>3710</integer>
</dict>
<key>Zaurus C3100</key>
<dict>
<key>CFBundleIdentifier</key>
<string>net.lucid-cake.driver.AJZaurusUSB</string>
<key>DefaultIP</key>
<string>192.168.129.201</string>
<key>IOClass</key>
<string>net_lucid_cake_driver_AJZaurusUSB</string>
<key>IOProbeScore</key>
<string>90000</string>
<key>IOProviderClass</key>
<string>IOUSBDevice</string>
<key>idProduct</key>
<integer>36944</integer>
<key>idVendor</key>
<integer>1245</integer>
</dict>
<key>Zaurus SL-5x00</key>
<dict>
<key>CFBundleIdentifier</key>
<string>net.lucid-cake.driver.AJZaurusUSB</string>
<key>DefaultIP</key>
<string>192.168.129.201</string>
<key>IOClass</key>
<string>net_lucid_cake_driver_AJZaurusUSB</string>
<key>IOProbeScore</key>
<string>90000</string>
<key>IOProviderClass</key>
<string>IOUSBDevice</string>
<key>idProduct</key>
<integer>32772</integer>
<key>idVendor</key>
<integer>1245</integer>
</dict>
<key>Zaurus SL-6000</key>
<dict>
<key>CFBundleIdentifier</key>
<string>net.lucid-cake.driver.AJZaurusUSB</string>
<key>DefaultIP</key>
<string>192.168.129.201</string>
<key>IOClass</key>
<string>net_lucid_cake_driver_AJZaurusUSB</string>
<key>IOProbeScore</key>
<string>90000</string>
<key>IOProviderClass</key>
<string>IOUSBDevice</string>
<key>idProduct</key>
<integer>36914</integer>
<key>idVendor</key>
<integer>1245</integer>
</dict>
<key>Zaurus SL-A300</key>
<dict>
<key>CFBundleIdentifier</key>
<string>net.lucid-cake.driver.AJZaurusUSB</string>
<key>DefaultIP</key>
<string>192.168.129.201</string>
<key>IOClass</key>
<string>net_lucid_cake_driver_AJZaurusUSB</string>
<key>IOProbeScore</key>
<string>90000</string>
<key>IOProviderClass</key>
<string>IOUSBDevice</string>
<key>idProduct</key>
<integer>32773</integer>
<key>idVendor</key>
<integer>1245</integer>
</dict>
<key>Zaurus SL-B500</key>
<dict>
<key>CFBundleIdentifier</key>
<string>net.lucid-cake.driver.AJZaurusUSB</string>
<key>DefaultIP</key>
<string>192.168.129.201</string>
<key>IOClass</key>
<string>net_lucid_cake_driver_AJZaurusUSB</string>
<key>IOProbeScore</key>
<string>90000</string>
<key>IOProviderClass</key>
<string>IOUSBDevice</string>
<key>idProduct</key>
<integer>32774</integer>
<key>idVendor</key>
<integer>1245</integer>
</dict>
<key>Zaurus SL-C700</key>
<dict>
<key>CFBundleIdentifier</key>
<string>net.lucid-cake.driver.AJZaurusUSB</string>
<key>DefaultIP</key>
<string>192.168.129.201</string>
<key>IOClass</key>
<string>net_lucid_cake_driver_AJZaurusUSB</string>
<key>IOProbeScore</key>
<string>90000</string>
<key>IOProviderClass</key>
<string>IOUSBDevice</string>
<key>idProduct</key>
<integer>32775</integer>
<key>idVendor</key>
<integer>1245</integer>
</dict>
<key>Zaurus SL-C760/C860/C3000</key>
<dict>
<key>CFBundleIdentifier</key>
<string>net.lucid-cake.driver.AJZaurusUSB</string>
<key>DefaultIP</key>
<string>192.168.129.201</string>
<key>IOClass</key>
<string>net_lucid_cake_driver_AJZaurusUSB</string>
<key>IOProbeScore</key>
<string>90000</string>
<key>IOProviderClass</key>
<string>IOUSBDevice</string>
<key>IOProviderMergeProperties</key>
<dict>
<key>kDoNotClassMatchThisInterface</key>
<true/>
</dict>
<key>idProduct</key>
<integer>36913</integer>
<key>idVendor</key>
<integer>1245</integer>
</dict>
<key>iPAQ H38xx</key>
<dict>
<key>CFBundleIdentifier</key>
<string>net.lucid-cake.driver.AJZaurusUSB</string>
<key>DefaultIP</key>
<string>192.168.129.201</string>
<key>IOClass</key>
<string>net_lucid_cake_driver_AJZaurusUSB</string>
<key>IOProbeScore</key>
<string>90000</string>
<key>IOProviderClass</key>
<string>IOUSBDevice</string>
<key>idProduct</key>
<integer>20570</integer>
<key>idVendor</key>
<integer>1183</integer>
</dict>
</dict>
<key>OSBundleLibraries</key>
<dict>
<key>com.apple.iokit.IONetworkingFamily</key>
<string>1.4.3</string>
<key>com.apple.iokit.IOUSBFamily</key>
<string>1.8</string>
<key>com.apple.kpi.bsd</key>
<string>8.0.0b2</string>
<key>com.apple.kpi.iokit</key>
<string>8.0.0b2</string>
<key>com.apple.kpi.libkern</key>
<string>8.0.0b2</string>
<key>com.apple.kpi.mach</key>
<string>8.0.0b2</string>
<key>com.apple.kpi.unsupported</key>
<string>8.0.0b1</string>
</dict>
<key>OSBundleLibrariesDisabled</key>
<dict/>
<key>OSBundleRequired</key>
<string>Network-Root</string>
</dict>
</plist>
